@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.App {
    font-family: 'Pretendard-Regular', sans-serif;
}
.signup-form {
    display:flex;
    justify-content: center;
    align-items: center;
}

.signup-form-len {
    width: 380px !important;
    margin-bottom: 15px;
}

.signup-btn {
    color: rgb(255, 255, 255) !important;
    border-color: #da291c !important;
    background-color: #da291c !important;
    border-radius: 3px !important;
    align-items: flex-end;
}

.form-control.no-outline {
    box-shadow: none !important;
    border-color: rgb(222, 222, 222) !important;
}

.form-select.no-outline {
    box-shadow: none !important;
    border-color: rgb(222, 222, 222) !important;
}

.form-group.no-outline {
    box-shadow: none !important;
    border-color: rgb(222, 222, 222) !important;
}

.signup-form h2{
    margin-bottom: 30px;
}
.wide-input-group {
    height: 50px !important;
    margin-bottom: 15px;
}

.email-input {
    width: 195px !important;
}

.validation-text {
    color: #918b8b !important;
    font-size: 13px !important;
}

.nav-color {
    background-color: rgba( 255, 255, 255, 0.8 );
}

.simple-user-info {
    display: flex;
    justify-content: flex-end;
}

.header {
    font-family: 'Pretendard-Regular', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 50px;
    flex-direction: column;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.card-item-display {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 60px;
}

.card-item-title {
    font-size: large;
    padding: 10px;
}

.already {
    color: #918b8b;
    margin-top: -10px;
    font-size: small;
    cursor: pointer;
}

.signin-btn {
    color: rgb(255, 255, 255) !important;
    border-color: #da291c !important;
    background-color: #da291c !important;
    border-radius: 3px !important;
}

.custom-checkbox .form-check-input:checked {
    background-color: #da291c !important;
    border-color: #da291c !important;
}
.custom-checkbox .form-check-input:checked ~ .custom-control-label::before {
    border-color: #da291c !important;
}

.custom-checkbox .form-check-input:focus {
    box-shadow: 0 0 0 0.2rem #e1e1e1;
    border: #da291c !important;
}

.card-item-img {
    height: 100%;
    border-radius: 0 !important;
}

.card-item-img:hover {
    transform: scale(1.07);
    transition: transform 0.5s ease-in-out;
}
.card-img-container {
    overflow: hidden; 
}

.header h2 a{
    text-shadow: 2px 2px 2px rgba(237, 237, 237, 0.5);
}

.footer {
    background-color: #f7f9fa;
}

.footer-container {
    padding: 50px;
    margin-left: 50px;
}

.footer-content {
    color: #6e6e6e;
}

.insta-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: black;
}

.header a {
    margin-top: 10px;
    color: black;
    text-decoration-line: none;
}