@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.signup-form {
    display:flex;
    justify-content: center;
    align-items: center;
}

.signup-form-len {
    width: 380px !important;
    margin-bottom: 15px;
}

.signup-btn {
    color: rgb(255, 255, 255) !important;
    border-color: #da291c !important;
    background-color: #da291c !important;
    border-radius: 3px !important;
    align-items: flex-end;
}

.form-control.no-outline {
    box-shadow: none !important;
    border-color: rgb(222, 222, 222) !important;
}

.form-select.no-outline {
    box-shadow: none !important;
    border-color: rgb(222, 222, 222) !important;
}

.form-group.no-outline {
    box-shadow: none !important;
    border-color: rgb(222, 222, 222) !important;
}

.signup-form h2{
    margin-bottom: 30px;
}
.wide-input-group {
    height: 50px !important;
    margin-bottom: 15px;
}

.email-input {
    width: 195px !important;
}

.validation-text {
    color: #918b8b !important;
    font-size: 13px !important;
}

.nav-color {
    box-shadow: 0 4px 4px 0 rgba(193, 193, 193, 0.2), 0 6px 20px 0 rgba(196, 196, 196, 0.19);
}

.simple-user-info {
    display: flex;
    justify-content: flex-end;
}

.healthcare-title {
    font-family: 'Pretendard-Regular', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}